@charset 'utf-8';

@mixin arrow() {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  vertical-align: middle;
  display: inline-block;
}

@mixin arrow-up($color: $arrow-border-bottom-color) {
  @include arrow();
  border-bottom: 5px solid $color;
}

@mixin arrow-down($color: $arrow-border-top-color) {
  @include arrow();
  border-top: 5px solid $color;
}

@mixin arrow-left($color: $arrow-border-right-color) {
  @include arrow();
  border-right: 5px solid $color;
}

@mixin arrow-right($color: $arrow-border-left-color) {
  @include arrow();
  border-left: 5px solid $color;
}

.arrow {
  &--up {
    @include arrow-up();
  }

  &--down {
    @include arrow-down();
  }

  &--left {
    @include arrow-left();
  }

  &--right {
    @include arrow-right();
  }
}

