@charset 'utf-8';

.card-grid {
  margin: 0 15px;
  display: block;
  
  &__card {
    margin: 10px 0;
    padding: 0 10px !important;

    @include respond-above('x-small') {
      @include make-grid-column(12);
    }
    
    @include respond-above('small') {
      @include make-grid-column(6);
    }
    
    @include respond-above('medium') {
      @include make-grid-column(4);
    }
    
    @include respond-above('large') {
      @include make-grid-column(3);
    }

    &__container {
      padding: 0 20px;
      border-radius: 4px;
      background: #fff;

      &__path {
        height: 40px;
        font-size: 1.0rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: #0094c6;
        padding: 10px 0 0 0;
      }
      
      &__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        display: block;
      }

      &__title {
        width: 100%;
        font-size: 1.8rem;
        color: #0094c6;
        line-height: 2.4rem;
        text-align: center;
        margin: 20px 0 0 0;
        display: block;

        a {
          font-size: 1.8rem;
          color: #0094c6;
          text-decoration: none;
        }
      }

      &__subtitle {
        width: 100%;
        font-size: 1.1rem;
        color: #999;
        line-height: 1.4rem;
        text-align: center;
        margin: 2px 0 18px;
        display: block;
      }
    
      &__information {
        width: 100%;
        padding: 0;
        margin: 0 0 30px;
        list-style-type: none;
        display: block;

        li {
          height: 18px;
          margin-bottom: 10px;
          display: block;
        }

        img {
          margin: 2px 6px 0 0;
          float: left;
        }

        &__label {
          font-size: 1.2rem;
          color: #999;
          line-height: 1.8rem;
          float: left;
        }
      }
  
      &__statistic {
        border-top: 1px solid #005e76;
        margin: 0 -20px;
        padding: 0 20px;
        height: 45px;
        display: block;

        &__item {
          height: 100%;
          margin-right: 10px;
          float: left;

          img {
            width: 12px;
            height: 12px;
            margin: 16px 5px 0 0;
            cursor: pointer;
            float: left;
          }

          &__label {
            font-size: 1.2rem;
            color: #005e76;
            line-height: 4.5rem;
            float: left;
          }
        }
      }
    }
  }
}

.card-grid-pager {
  @include make-grid-column(12);
  margin: 30px 0 80px 0;
  display: none;

  a {
    width: 120px;
    height: 120px;
    font-size: 1.8rem;
    color: #fff; 
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    background: #005e7c;
    border-radius: 60px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    display: block;

    span {
      left: 0;
      top: 50%;
      margin-top: -20px;
      position: absolute;
    }
  }
}

