@charset 'utf-8';

.social-networks {
  @include clearfix;
}

.social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 $spacing / 2 $spacing / 2;
  border-radius: 50%;
  background-color: $color-blue-first;
}
