@charset 'utf-8';

.button {
  display: inline-block;
  height: 35px;
  padding: 0 $spacing;
  border: 0;
  border-radius: 4px;
  white-space: nowrap;
  color: $color-white;
  background-color: $color-blue-second;
  font-weight: 600;
  font-size: 14px; // TODO: this should be a variable somewhere
  letter-spacing: .1rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 5px;
}
