@charset 'utf-8';

fieldset {
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid $color-border;
  border-radius: 7px;

  legend {
    padding: 5px 10px;
    border: 1px solid $color-border;
    border-radius: 4px;
    font-weight: 600;
  }
}