ul.list-inline {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;

  > li {
    display: inline-block;
    float: left;

    span {
      font-size: 1.4rem;
      line-height: 2.6rem;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }
  }
}
