@charset 'utf-8';

.page-header {
  padding: 24px 0;
  position: relative;
  box-sizing: border-box;

  * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
  }
}

.clear:after {
  clear: both;
  content: '';
  display: inline-block;
}